@charest "UTF-8";
#wrap{margin:0 auto; width:1020px;}

.box1{width:1020px; height:40px; background:#a7a9ac; margin-top:60px; clear:both;}

.box1>h2{color:#fff; font-size:20px; padding:7px;}

.box2{width:1020px; height:70px; background:#d1d2d4; clear:both;}

.con-search{float:right; margin-right:20px; margin-top:14px;}

.con-search>input{width:240px; height:44px; font-size:18px; border:2px solid #6d6e71; float:left;}
		
.box3>ul{float:left;}

.box3>ul>li{padding:30px;}

.box3>.text{width:700px; height:240px; float:right; border:3px solid #cccccb; margin:33px 0;}

.guesttext{width:600px; height:160px; /*background:red;*/}

.guesttext p{margin:10px 0 0 30px; font-size:14px;}

.title{float:left; font-size:24px; font-weight:bold; margin:10px;}

.date{text-align:right; margin:15px;}

.guest ul li{float:left; margin-left:20px;}

.guest ul{float:right;}