@charest "UTF-8";
#wrap{margin:0 auto; width:1030px; height:830px; /*background:#ccc;*/ margin-bottom:30px;}

#contents{width:1020px; margin:0 auto; height:830px; margin-top:90px; /*background:#ccc;*/}

#contents .sidecontents{width:200px; height:830px; /*background:#bbb;*/ float:left;}

.sidetop{width:200px; height:150px; background:orange; margin-bottom:20px; color:#fff;}

.sidetop h2{display:inline-block; margin:55px 0 0 50px;}

.sidemiddle{width:200px; height:660px; /*background:#eee;*/ border-right:1px solid #cccccb;}

.sidemiddle .menu2,.sidemiddle .menu3{width:200px; border-top:1px solid #cccccb; padding-top:10px;}

.sidemiddle .menu1 img,.menu2 img,.menu3 img{float:left;}

.sidemiddle .menu2,.sidemiddle .menu3{margin-top:40px;}

.sidemiddle .menu1,.menu2,.menu3{font-size:30px;}

.sidemiddle .menu1 li,.menu2 li,.menu3 li{font-size:15px; margin-left:45px; margin-top:5px;}

.primarycontent{float:right; margin-top:-100px;}

.pri-box1{background:#eb3733; width:760px; height:140px; margin-top:100px; margin-bottom:20px;}

.history{width:760px; height:40px; border-bottom:1px solid #ccc;}

.history>p{color:#fff; font-size:22px; padding-top:6px; padding-left:6px;}

.rank{width:350px; height:99px; border-right:1px solid #ccc; margin-right:0; float:left;}

.rank>h2{color:#fff; padding-top:6px; padding-left:6px; font-size:20px;}

.rank>p{color:#fff; padding:20px 140px;}

.coupon{float:left; width:205px; height:99px; border-right:1px solid #ccc;}

.coupon>h2{color:#fff; padding-top:6px; padding-left:60px; font-size:20px;}

.coupon>p{color:#fff; padding:20px 86px;}

.point{float:right; width:200px; height:99px;}

.point>h2{color:#fff; padding-top:6px; padding-left:66px; font-size:20px;}

.point>p{color:#fff; padding:20px 86px;}

.pri-box2{width:760px; height:140px; margin-bottom:20px;}

.pri-box2>h2{margin-bottom:6px;}

.information{border:1px solid #dedede; height:100px;}

.infor-left{width:340px; height:100px; border-right:1px solid #dedede; float:left;}

.infor-left>h3{float:left; padding-top:38px; padding-left:40px;}

.infor-left>p{padding-top:28px; padding-left:130px;}

.infor-right{width:340px; height:100px; border-right:1px solid #dedede; float:left;}

.infor-right>h3{float:left; padding-top:38px; padding-left:40px;}

.infor-right>p{padding-top:28px; padding-left:130px;}

.information>a{float:right; display:block; margin-top:32px; margin-right:3px;}

.pri-box3{width:760px; height:120px;}

.pri-box3>h2{border-bottom:2px solid #000; padding-bottom:6px;}

.pri-box3>p{border-bottom:2px solid #dedede; padding:39px 20px;}

.pri-box4{width:760px; height:300px; margin-top:20px;}

.pri-box4>h2{padding:20px 0 6px 0;}

.rbp{width:760px; height:304px; border:1px solid #dedede;}

.rbp>a:nth-child(1){float:left; margin-top:80px;}

.rbp>a:nth-child(2){float:right; margin-top:80px;}