@charest "UTF-8";
#wrap {width:1020px; height:auto; margin:0 auto;}

.proudbar{width:1020px; height:3px; background:gray; margin-top:90px;}

.proudbar2{width:480px; height:2px; background:gray; margin-top:20px; display:inline-block; margin-left:20px;}

#pmainpic {margin-top:30px; float:left;}

#productbox1 {margin-top:20px; float:left;}

.psidepic2 {margin-left:25px;}

.psidepic3 {margin-left:25px;}

.psidepic1,.psidepic2,.psidepic3 {float:left; margin-top:20px; }

#psidetext > h2 {font-size:34px; font-weight:bold; margin:20px 0px 0 40px; display:inline-block; }

.ptext1  {display:inline-block; margin:30px 0 20px 20px;  }

.ptext p {float:left;}

.ptext1 .price1 {float:left; line-height:30px;  font-weight:bold;}

.ptext1 .price2 {margin-left:390px; font-size:22px; font-weight:bold; }

.ptextall p {display:inline-block; margin:20px 0 0 20px;  font-weight:bold;}

.ptextall .ptext4 .price2 {margin-left:360px; font-size:20px; font-weight:bold; }

.ptext5 .price1 {margin-top:90px;}

.ptext5 img {margin-left:310px;} 

.ptext6 {margin-top:60px; font-size:24px;}

.ptext6 .price2 {margin-left:240px; color:#e93a33; }

.buy {width:230px; height:60px; background:#e93a33; display:inline-block;}

.collect {width:140px; height:60px; background:#e93a33; display:inline-block; margin-left:20px;}

.zzim {width:60px; height:60px; background:#e93a33; display:inline-block; margin-left:20px;}

.buybutton {font-size:20px; font-weight:bold; float:left;  margin:58px 0 0 20px;}

.buybutton p a {color:#fff;}

.buy p {text-align:center;}

.buybutton .buy p {margin-left:75px;}

.buybutton .collect p {margin-left:30px;}

#middlead {width:1020px; height:100px; background:#f7943a; display:inline-block; margin-top:60px;}

.logoimg img {float:left; margin:27px 50px 27px 50px;}

.introtext p {font-size:24px; font-weight:bold; color:#fff; margin-top:36px;}

.productpic {margin:100px 0 100px 0;}

#pictures {text-align:center;}

.productpic1 {margin-top:20px;}

.warn {margin-top:120px; text-align:center; font-size:18px; font-weight:bold; color:#ff3300; }

.warn2 ul  {margin:90px 0 0 200px;}

.warn2 ul li {margin-top:10px; padding-right:10px;}

#adtable {margin-top:100px; }

#adtable p {margin-left:10px; padding-top:35px; }

.tablebox1 {width:230px; height:135px; background:#eaeaea; float:left;}

.tablebox1-1 {width:780px; height:135px; background:#f9f9fa; margin-left:240px; }

.secondbox {margin-top:10px;}

.tablebox2 {width:230px; height:135px; background:#eaeaea; float:left;}

.tablebox2-2 {width:780px; height:135px; background:#f9f9fa; margin-left:240px; }

.thirdbox {margin-top:10px;}

.tablebox3 {width:230px; height:135px; background:#eaeaea; float:left;}

.tablebox3-3 {width:780px; height:135px; background:#f9f9fa; margin-left:240px; }

.forthbox {margin-top:10px;}

.tablebox4 {width:230px; height:135px; background:#eaeaea; float:left;}

.tablebox4-4 {width:780px; height:135px; background:#f9f9fa; margin-left:240px; }

.fifthbox {margin-top:10px;}

.tablebox5 {width:230px; height:135px; background:#eaeaea; float:left;}

.tablebox5-5 {width:780px; height:135px; background:#f9f9fa; margin-left:240px; }

.tablebox1 img {margin:25px 0 0 20px;}

.tablebox2 img {margin:5px 0 0 45px;}

.tablebox3 img {margin:30px 0 0 40px;}

.tablebox4 img {margin:30px 0 0 40px;}

.tablebox5 img {margin:30px 0 0 40px;}

.tablebox1-1 p {margin-top:}

#alram p {margin-top:50px; font-size:18px; font-weight:bold;}

#recomendation {width:1020px; height:600px; border:1px solid gray; margin-top:50px; margin-bottom:70px}

#recomendation p {text-align:center; margin-top:20px; font-weight:bold; }

.acimgs {margin-top:50px;}

.actionimg1,.actionimg2,.actionimg3 {float:left; margin-left:20px; border:2px solid #fff; }

.actionimg4{float:right; margin-right:14px;}

.actionimg1:hover,.actionimg2:hover,.actionimg3:hover,.actionimg4:hover {border:2px solid #cccccb;}

.buythis {width:350px; height:90px; background:#f7943a; margin:0 auto; margin-top:400px;}

.buythis p{font-size:22px; font-weight:bold; padding-top:35px;}

.buythis p a{color:#fff; }